{{define "bootstrap"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SimpleApes</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {{template "navbar"}}
<div class="container-fluid">
    {{template "yield" .}}
    {{template "footer"}}
</div>



</body>
</html>
{{end}}
