{{define "bootstrap"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SimpleApes</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {{template "navbar" .}}
<div class="container-fluid">
{{if .Alert}}
{{template "alert" .Alert}}
{{end}}
{{template "yield" .Yield}}
    {{template "footer"}}
</div>


<style>
    footer {
        scroll-padding-top: 60px;
    }
</style>
</body>
</html>
{{end}}
